@model SistemaNotas1.Models.Usuarios.IngresoUsuario;
@{
    ViewBag.Title = "Registro";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container" style="width:400px">
    <h2 align="center">REGISTRO</h2>
    <br />
    <br />
    <center>
        <a href="@Url.Action("RegistroD","TbUsuarios")" class="btn btn-primary">Docentes</a>
        <br />
        <br />
        <a href="@Url.Action("RegistroA","TbUsuarios")" class="btn btn-danger">Administración</a>
        <br />
        <br />
        <a href="@Url.Action("RegistroE","TbUsuarios")" class="btn btn-warning">Estudiantes</a>
    </center>
</div>