@model SistemaNotas1.Models.Usuarios.IngresoUsuario
@{
    ViewBag.Title = "Registro";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <head>
        @if (ViewBag.showSuccessAlert)
        {
            <script>
                alert('Ya existe un registro similar');
            </script>
        }
    </head>

    <div class="container" style="width:400px">
        <h2 align="center">REGISTRO</h2>
        <form action="/TbUsuarios/RegistroA" enctype="multipart/form-data" method="post">

            @Html.ValidationSummary()
            <div class="form-group">
                <input type="text" class="form-control" name="Nombre" placeholder="Ingrese su nombre" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Apellidos" placeholder="Ingrese su apellido" required />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="Correo" placeholder="Ingrese su email" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Usuario" placeholder="Ingrese su usuario" required />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="Password" placeholder="Ingrese su contraseña" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Direccion" placeholder="Ingrese su dirección" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Telefono" placeholder="Ingrese su telefono" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Cui" placeholder="Ingrese su CUI" required />
            </div>
            <div class="form-group">
                Imagen:
                <input type="file" class="form-control" id="Imagen" name="Upload" />
            </div>
            <div align="right"><input type="submit" class="btn btn-success" name="Registrar" value="Registrar" /></div>

        </form>

    </div>
</div>